

<script src="~/js/Common.js"></script>
<script src="~/js/TechnicalReporting.js"></script>
@{
    var rights = ViewBag.rights;
}
@section styles{ 

    


}

<script>
       $(document).ready(function () {
        debugger;
        var r='@rights';
         if (r == "N") {
             $("input:not(.non),textarea").addClass("disable");
             $('input[type="button"]:not(.non)').addClass("btn-disable");
             $('select').addClass("sel-disable");
             $('.disable').prop("readonly", true);
             $('.btn-disable').hide();
             $('.sel-disable').prop('disabled', true);
         }
         else {
             $('.disable').prop("readonly", false);
             $('.btn-disable').show();
             $('.sel-disable').prop('disabled', false);
             $("input:not(.non),textarea").removeClass("disable");
             $('input[type="button"]:not(.non)').removeClass("btn-disable");
             $('select').removeClass("sel-disable");

           }




       })



    var g_target_id;
    $(".ctrlbtn").click(function (e) {

        $(".modalLoader").css("display", "block");
        var op = $(this).data("type");

        setTimeout(function () {
            CommonAjax('/M1/FACTORMASTER/Execute', "GET", false, "application/json", false, GetResponse, "",
                {

                    FrName: $("#txtName").val(),


                });
            $(".modalLoader").hide();
        }, 10)


    })


    $(document).on("click", ".edit", function () {

     
        $("#txtCode").val($(this).parent().parent().children().get(2).innerHTML);
        $("#txtName").val($(this).parent().parent().children().get(2).innerHTML)
        $("#txtValue").val($(this).parent().parent().children().get(4).innerHTML)
        $("#txtUnit").val($(this).parent().parent().children().get(3).innerHTML)
        $("#txtFromDate").val($(this).parent().parent().children().get(5).getAttribute("data-date"))
        $("#txtToDate").val($(this).parent().parent().children().get(6).getAttribute("data-date"))        
        operation = 'update'

    })


  





    function GetResponse(data) {
        if (data.errorMessage != "" && data.errorMessage != null) {
            CommonAlert("ERROR", data.errorMessage, null, null, "error");
            return;
        }
        else if (data.alert != "" && data.alert != null) {
            CommonAlert("SUCCESS", data.alert, null, null, "success");
            return;
        }
        $("#txtValue").val('')
        $("#txtUnit").val('')
        $("#txtFromDate").val('')
        $("#txtToDate").val('')
        operation = 'save'
        $("#tblBody").empty().append(data);

    }
    function PostResponse(data) {
        if (data.errorMessage != "" && data.errorMessage != null) {
            CommonAlert("ERROR", data.errorMessage, null, null, "error");
            return;
        }
        else if (data.alert != "" && data.alert != null) {
            CommonAlert("SUCCESS", data.alert, null, null, "success");
            return;
        }

            $("#txtCode").val(''),
            $("#txtName").val(''),
            $("#txtValue").val(''),
            $("#txtUnit").val(''),
            $("#txtFromDate").val(''),
            $("#txtToDate").val(''),
            operation = 'save'


            $("#tblBody").empty().append(data);

    }
    var operation='save';
    $("#btnSave").click(function () {
        debugger;

        
        if ($("#txtValue").val() == '') {
            CommonAlert("error", "Value is required", null, null, "error");
            return;
        }
        
        if ($("#txtFromDate").val() == '') {
            CommonAlert("error", "From Date is required", null, null, "error");
            return;
        }
        if ($("#txtName").val()== '') {
            CommonAlert("error", "Name is required", null, null, "error");
            return;
        }

        var txt = $("#txtName").text();


        setTimeout(function () {
            CommonAjax('/M1/FACTORMASTER/Save', "GET", false, "application/json", false, PostResponse, "",
                {


                    Code:     $("#txtCode").val(),
                    Unit:     $("#txtUnit").val(),
                    Name:     $('#txtName option:selected').text(),
                    Value:    $("#txtValue").val(),
                    FromDate: $("#txtFromDate").val(),
                    ToDate:   $("#txtToDate").val(),
                    op: operation
                });
            $(".modalLoader").hide();
        }, 10)

        
    })
    $("#txtName").change(function () {
        debugger;
        var v = $(this).val();
        var t = $('option:selected',this).text()
        $("#txtCode").val($(this).val())
        $("#txtValue").val('')
            $("#txtUnit").val('')
            $("#txtFromDate").val('')
        $("#txtToDate").val('')
        operation='save'
           



    })

   




</script>

<div class="plcholder-cn">
    <form id="Main" asp-action="Edit" method="post" asp-area="M1">
        @{
            List<FactorMaster> data = ViewBag.records;
            List<SelectListItem> selectListItems = ViewBag.ListItem;
            int i = 1;
        }
        <div class="content-box">
            <h3 class="sub-heading1"><span style="background-color:#4A689A !important;color:white;font-weight:bold">Factor Master</span></h3>
            <div class="m-form">
                <div class="m-form-bx">

                </div>

                <div class="row form-sm" style="padding-left:12px;padding-right:22px;">

                    <div class="col-sm-6 col-md-3 text-center">

                       
                    </div>
                </div>
                <div class="row form-sm" style="padding-left:22px;padding-right:22px;">
                    <div class="table-responsive scroll-tbl" style="height:730px">
                        <table class="compact nowrap table table-striped table-bordered table-condensed" style="padding-bottom:3px;" id="tbl_factor">
                            <thead >
                                <tr class="bg-primary">
                                    <th width="2%">#</th>
                                    <th>Fr Name</th>
                                    <th>FR Code</th>
                                    <th width="8%">Fr Unit</th>
                                    <th >Value</th>
                                    <th width="9%">Effective FromDate</th>
                                    <th style="text-align:left !important">Effective ToDate</th>
                                    <th style="text-align:left !important">Action</th>
                                
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <select class="form-control" id="txtName" style="border:1px solid blue;width:80%;display:inline-block">
                                            <option value="">---Select----</option>
                                            @foreach (var list in selectListItems)
                                            {
                                                <option value="@list.Value">@list.Text</option>
                                            }

                                        </select>
                                        <a class="btn  btn-info ctrlbtn" id="btnQuery" style="margin-bottom:1px">Query</a>
                                    </td>

                                    <td><input id="txtCode" type="text" readonly="readonly" class="form-control" style="border:1px solid blue" /></td>
                                    <td><input id="txtUnit" type="text" class="form-control" style="border:1px solid blue" /></td>
                                    <td><input id="txtValue" type="number" step="any" class="form-control" style="border:1px solid blue" /></td>
                                    <td><input id="txtFromDate" value="" type="date" class="form-control" style="border:1px solid blue;" /></td>
                                    <td>
                                        <input id="txtToDate" value="" type="date" class="form-control" style="border:1px solid blue;display:inline-block" />
                                       
                                    </td>
                                   
                                    <td>

                                        <a class="btn   btn-default" id="btnSave" data-operation="save" style="border:1px solid blue;margin-bottom:1px"><i class="fa fa-plus"></i></a>
                                    </td>


                                </tr>
                            </thead>
                          
                            <tbody id="tblBody" >
                                @foreach (var item in data)
                                {
                                    <tr>
                                        <td>@(i++)</td>
                                        <td>@item.FrName</td>
                                        <td>@item.FrCode</td>
                                        <td>@item.FrUnit</td>
                                        <td>@item.FrValue</td>
                                        <td data-date="@item.EffectiveFromDate.ToString("yyyy-MM-dd")">@item.EffectiveFromDate.ToString("dd-MMM-yyyy")</td>
                                        <td  data-date="@{ var z = item.EffectiveToDate == null ? "" : item.EffectiveToDate.Value.ToString("yyyy-MM-dd"); @z }" style="text-align:left !important">@{ var d = item.EffectiveToDate == null ? "" : item.EffectiveToDate.Value.ToString("dd-MMM-yyyy"); @d }</td>
                                    </tr>
                                 }
                            </tbody>

                        </table>


                    </div>


                </div>


            </div>
        </div>

    </form>

</div>
<div id="commonModalbinder" class="modal" style="display:none!important;z-index:99999999 !important;"></div>

<script>
    $(document).ready(function () {
        $("#tblBody").empty();
    })
</script>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

