

<script src="~/js/Common.js"></script>
<script src="~/js/TechnicalReporting.js"></script>


@{
    var rights = ViewBag.rights;
}
<script>
     $(document).ready(function () {
        debugger;
        var r='@rights';
         if (r == "N") {
             $("input:not(.non),textarea").addClass("disable");
             $('input[type="button"]:not(.non)').addClass("btn-disable");
             $('select').addClass("sel-disable");
             $('.disable').prop("readonly", true);
             $('.btn-disable').hide();
             $('.sel-disable').prop('disabled', true);
         }
         else {
             $('.disable').prop("readonly", false);
             $('.btn-disable').show();
             $('.sel-disable').prop('disabled', false);
             $("input:not(.non),textarea").removeClass("disable");
             $('input[type="button"]:not(.non)').removeClass("btn-disable");
             $('select').removeClass("sel-disable");

         }
                    })
    var g_target_id;
    $(".ctrlbtn").click(function (e) {

        $(".modalLoader").css("display", "block");
        var op = $(this).data("type");

        setTimeout(function () {
            CommonAjax('/M1/UREASC02/Execute', "GET", false, "application/json", false, GetResponse, "",
                {

                    FromDate: $("#txtDate").val(),
                    Shift: $("#txtShift").val(),
                    OperationType: op

                });
            $(".modalLoader").hide();
        }, 10)


    })

   

    $(document).on("change", ".ammonia", function (e) {
        debugger;
        var name = $(this).attr("id");
        var val = $(this).val();
        var op = $(this).data("operation");
        var type = $(this).attr("type");
        g_target_id = "#" + name;
        $(".modalLoader").css("display", "block");

        setTimeout(function () {
            CommonAjax('/M1/UREASC02/PostData', "GET", false, "application/json", false, PostResponse, "",
                {
                    Input_Name: name,
                    Input_Value: val,
                    OperationType: op,
                    FromDate: $("#txtDate").val(),
                    Shift: $("#txtShift").val(),
                    InputType:type,


                });
            $(".modalLoader").hide();
        }, 10)


    })
    

    $(document).on("change", ".shutdown", function (e) {
        debugger;
        var cls = $(this).attr("class").split(' ')[0];
        var ddl = document.getElementsByClassName(cls)[0];
        document.getElementsByClassName(cls)[1].value = document.getElementsByClassName(cls)[0].value;
        var ddltext = ddl.options[ddl.selectedIndex].text;
        var input_type = $(this).data('input-text');
        if (document.getElementsByClassName(cls)[0].value == null || document.getElementsByClassName(cls)[0].value == "") {
            CommonAlert("ERROR", "Please select reason", null, null, "error");
            return;
        }
        if (document.getElementsByClassName(cls)[2].value == null || document.getElementsByClassName(cls)[2].value=="") {
            CommonAlert("ERROR", "Please select shutdown from date ", null, null, "error");
            return;
        }


        $(".modalLoader").css("display", "block");

        setTimeout(function () {
            CommonAjax('/M1/UREASC02/PostShutDownData', "GET", false, "application/json", false, GetShutDownResponse, "",
                {
                    ReasonCode: document.getElementsByClassName(cls)[0].id,
                    Reason: ddltext,
                    SD_PLANT: document.getElementsByClassName(cls)[1].value,
                    FromDate: document.getElementsByClassName(cls)[2].value,
                    ToDate: document.getElementsByClassName(cls)[3].value,
                    Shift: $("#txtShift").val(),
                    DataDate: $("#txtDate").val(),
                    InputType: input_type,

                });
            $(".modalLoader").hide();
        }, 10)

       
    })
   
    $(document).on("change", ".techRemark", function (e) {
        debugger;
        var cls = $(this).attr("class").split(' ')[0];
        var name = document.getElementsByClassName(cls)[0].id
        var val = $(this).val();
        if (val.length < 1) {

            CommonAlert("ERROR", "Tech Remarks can not be empty", null, null, "error");
            return;
        }


        $(".modalLoader").css("display", "block");

        setTimeout(function () {
            CommonAjax('/M1/UREASC02/PostTechRemarkData', "GET", false, "application/json", false, GetTechRemarksResponse, "",
                {
                    RemarksValue: val,
                    ReasonName: name,
                    Shift: $("#txtShift").val(),
                    DataDate: $("#txtDate").val(),


                });
            $(".modalLoader").hide();
        }, 10)

      
    })
    function GetResponse(data) {
        if (data.errorMessage != "" && data.errorMessage != null) {
            CommonAlert(data.errorMessage, data.errorMessage, null, null, "error");
            return;
        }
        else if (data.alert != "" && data.alert != null) {
            CommonAlert("SUCCESS", data.alert, null, null, "success");
            return;
        }
        $("#mainDiv").empty().append(data);

    }
    function PostResponse(data) {
        debugger;
        if (data.errorMessage != "" && data.errorMessage != null) {
            CommonAlert(data.alert, data.errorMessage, null, null, "error");
        }

        if (data.alert != "") {

            $(g_target_id).notify(
                data.alert,
                { position: "top", className: "success" }
            );
        }

    }
    function GetTechRemarksResponse(data) {
        debugger;

        if (data.errorMessage != "" && data.errorMessage != null) {
            CommonAlert(data.alert, response.errorMessage, null, null, "error");
        }
        if (data.alert != "") {

            $(g_target_id).notify(
                data.alert,
                { position: "top", className: "success" }
            );
        }
    }
    function GetShutDownResponse(data) {
        debugger;
        if (data.errorMessage != "" && data.errorMessage != null) {
            CommonAlert(data.alert, response.errorMessage, null, null, "error");
        }
        if (data.alert != "") {

            $(g_target_id).notify(
                data.alert,
                { position: "top", className: "success" }
            );
        }
    }
</script>

<div class="plcholder-cn">
    <form id="Main" asp-action="Edit" method="post" asp-area="M1" asp-controller="SUGSCR08" onsubmit="return Validate();">

        @{
            //List<CommonData> data = ViewBag.records;

            //var Arrheader = data.Where(e => e.Category != "SHUTDOWN DETAILS").Select(e => e.Category).Distinct().ToArray();

            List<CommonData> data = ViewBag.records;

            var Arrheader = data.Where(e => e.Layout == "TYPE-3" && e.Category != "SHUTDOWN DETAILS").Select(e => e.Category).Distinct().ToArray();
            var Chemical = data.Where(e => e.Layout == "TYPE-2" && e.Category != "SHUTDOWN DETAILS").Select(e => e.Category).Distinct().ToArray();
            var Ammtransfer = data.Where(e => e.Layout == "TYPE-1" && e.Category != "SHUTDOWN DETAILS").Select(e => e.Category).Distinct().ToArray();

        }
        <div class="content-box">


            <h3 class="sub-heading1"><span style="background-color:#4A689A !important;color:white;font-weight:bold">UREA-II Daily Plant Input Data <i class="btnPrint fa fa-print" style="float:right"></i></span></h3>
            <div class="m-form">
                <div class="m-form-bx">
                    <div class="row form-sm">
                        <div class="col-sm-2 col-md-3">
                        </div>
                        <div class="col-sm-2 col-md-1">
                            <div>
                                <label class="m-lbl1 m-lbl2"> Date</label>
                            </div>
                        </div>
                        <div class="col-sm-2 col-md-2">
                            <div>
                                @{
                                    DateTime dt;
                                    dt = new DateTime(2017, 10, 18);
                                }
                                <input class="form-control" value="@DateTime.Now.AddDays(-1).ToString("yyyy-MM-dd")" id="txtDate" type="date" />
                            </div>
                        </div>
                        <div class="col-sm-2 col-md-1">
                            <div>
                                <label class="m-lbl1 m-lbl2"> Shift</label>
                            </div>
                        </div>
                        <div class="col-sm-2 col-md-2">
                            <div>
                                <input class="form-control" id="txtShift" type="text" value="G" />

                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">






                        </div>





                    </div>
                </div>

                <div class="row form-sm">

                    <div class="col-sm-6 col-md-12 text-center">
                        <div>
                            <hr style="margin-bottom:6px;margin-top:0" />
                            <input type="button" data-type="query" id="Ewb" class="m-btn-1 save ctrlbtn non" value="Query" />
                            <input type="button" data-type="save" id="PrintGSTInvoice" class="m-btn-1 execute ctrlbtn" value="Save" />
                            <input type="button" data-type="approve" id="Update" class="m-btn-1 update ctrlbtn" onclick="" value="Approve" />
                            <div style="margin-bottom:6px;margin-top:0" />
                        </div>





                    </div>
                </div>
            </div>


        </div>

        <div id="mainDiv">


            @foreach (var head in Arrheader)
            {
                var AmmProd = data.Where(e => e.Category == head).ToList();
                int k = 0;
                <div class="content-box">
                    <h3 class="sub-heading1"><span>@head</span></h3>
                    <div class="m-form">
                        <div class="m-form-bx">


                            <div class="row form-sm">

                                <div class="col-sm-2 col-md-8">


                                    <div class="row form-sm ">

                                        <div class="col-sm-2 col-md-6">
                                        </div>
                                        <div class="col-sm-2 col-md-2">
                                            <div>
                                                <label class="m-lbl1 m-lbl2" style="font-size:90%;color:crimson !important;margin-bottom:10px;"> UNIT-31</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-2 col-md-2">
                                            <div>
                                                <label class="m-lbl1 m-lbl2" style="font-size:90%;color:crimson !important;margin-bottom:10px;"> UNIT-41</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-2 col-md-2">
                                            <div>
                                                <label class="m-lbl1 m-lbl2" style="font-size:90%;color:crimson !important;margin-bottom:10px;"> TOTAL</label>
                                            </div>
                                        </div>


                                        @foreach (var item in AmmProd)
                                        {

                                            if (k == 0)
                                            {
                                                k = k + 1;
                                                <div class="col-sm-2 col-md-6">
                                                    <div>
                                                        <label class="m-lbl1 m-lbl2"> @item.InputLabel</label>
                                                    </div>
                                                </div>
                                            }
                                            else if (k > 1)
                                            {
                                                k = 0;
                                            }
                                            else
                                            {
                                                k = k + 1;
                                            }

                                            <div class="col-sm-2 col-md-2">
                                                <div>
                                                    @if (item.InputType == "number")
                                                    {
                                                        if (item.Readonly.ToLower() == "yes")
                                                        {
                                                            <input data-operation="@item.OperationType" readonly="readonly" class="@item.InputText form-control text-right ammonia" id="@item.InputText" step="any" type="number" value="@item.InputValue" />
                                                        }
                                                        else
                                                        {
                                                            <input data-operation="@item.OperationType" class="@item.InputText form-control text-right ammonia" id="@item.InputText" step="any" type="number" value="@item.InputValue" />

                                                        }
                                                    }
                                                    else if (item.InputType.ToLower() == "datetime-local")
                                                    {
                                                        string v = "";
                                                        if (!string.IsNullOrEmpty(item.InputValue.Trim()))
                                                        {
                                                            v = Convert.ToDateTime(item.InputValue).ToString("yyyy-MM-ddTHH:mm");
                                                        }


                                                        <input data-operation="@item.OperationType" class="@item.InputText form-control ammonia" id="@item.InputText" step="any" type="datetime-local" value="@v" />
                                                    }
                                                    else if (item.InputType.ToLower() == "date")
                                                    {
                                                        string v = "";
                                                        if (!string.IsNullOrEmpty(item.InputValue.Trim()))
                                                        {
                                                            v = Convert.ToDateTime(item.InputValue).ToString("yyyy-MM-dd");
                                                        }


                                                        <input data-operation="@item.OperationType" class="@item.InputText form-control ammonia" id="@item.InputText" step="any" type="date" value="@v" />
                                                    }
                                                    else if (item.InputType.ToLower() == "ddl")
                                                    {
                                                        string sel = "";
                                                        if (item.InputValue.Trim().ToUpper() == "0")
                                                        {
                                                            <select id="@item.InputText" data-operation="@item.OperationType" class="@item.InputText form-control ammonia">
                                                                <option selected="selected" value="0">NO</option>
                                                                <option value="1">YES</option>
                                                            </select>
                                                        }
                                                        else
                                                        {
                                                            <select id="@item.InputText" data-operation="@item.OperationType" class="@item.InputText form-control ammonia">
                                                                <option value="0">NO</option>
                                                                <option selected="selected" value="1">YES</option>
                                                            </select>
                                                        }
                                                    }
                                                    else
                                                    {

                                                    }


                                                </div>
                                            </div>



                                        }







                                    </div>


                                </div>

                                <div class="col-sm-2 col-md-4">
                                </div>
                            </div>
                        </div>


                    </div>

                </div>
            }

            @foreach (var head in Chemical)
            {
                var AmmProd = data.Where(e => e.Category == head).ToList();
                int k = 0;
                <div class="content-box">
                    <h3 class="sub-heading1"><span>@head</span></h3>
                    <div class="m-form">
                        <div class="m-form-bx">


                            <div class="row form-sm">

                                <div class="col-sm-2 col-md-8">


                                    <div class="row form-sm ">

                                        <div class="col-sm-2 col-md-6">
                                        </div>
                                        <div class="col-sm-2 col-md-2">
                                            <div>
                                                <label class="m-lbl1 m-lbl2" style="font-size:90%;color:crimson !important;margin-bottom:10px;">UNIT-31</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-2 col-md-2">
                                            <div>
                                                <label class="m-lbl1 m-lbl2" style="font-size:90%;color:crimson !important;margin-bottom:10px;">UNIT-41</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-2 col-md-2">

                                        </div>


                                        @foreach (var item in AmmProd)
                                        {

                                            if (k == 0)
                                            {
                                                k = k + 1;
                                                <div class="col-sm-2 col-md-6">
                                                    <div>
                                                        <label class="m-lbl1 m-lbl2"> @item.InputLabel</label>
                                                    </div>
                                                </div>
                                            }
                                            else if (k > 0)
                                            {
                                                k = 0;
                                            }
                                            else
                                            {
                                                k = k + 1;
                                            }

                                            <div class="col-sm-2 col-md-2">
                                                <div>
                                                    @if (item.InputType == "number")
                                                    {
                                                        if (item.Readonly.ToLower() == "yes")
                                                        {
                                                            <input data-operation="@item.OperationType" readonly="readonly" class="@item.InputText form-control text-right ammonia" id="@item.InputText" step="any" type="number" value="@item.InputValue" />
                                                        }
                                                        else
                                                        {
                                                            <input data-operation="@item.OperationType" class="@item.InputText form-control text-right ammonia" id="@item.InputText" step="any" type="number" value="@item.InputValue" />

                                                        }
                                                    }
                                                    else if (item.InputType.ToLower() == "datetime-local")
                                                    {
                                                        string v = "";
                                                        if (!string.IsNullOrEmpty(item.InputValue.Trim()))
                                                        {
                                                            v = Convert.ToDateTime(item.InputValue).ToString("yyyy-MM-ddTHH:mm");
                                                        }


                                                        <input data-operation="@item.OperationType" class="@item.InputText form-control ammonia" id="@item.InputText" step="any" type="datetime-local" value="@v" />
                                                    }
                                                    else if (item.InputType.ToLower() == "date")
                                                    {
                                                        string v = "";
                                                        if (!string.IsNullOrEmpty(item.InputValue.Trim()))
                                                        {
                                                            v = Convert.ToDateTime(item.InputValue).ToString("yyyy-MM-dd");
                                                        }


                                                        <input data-operation="@item.OperationType" class="@item.InputText form-control ammonia" id="@item.InputText" step="any" type="date" value="@v" />
                                                    }
                                                    else if (item.InputType.ToLower() == "ddl")
                                                    {
                                                        string sel = "";
                                                        if (item.InputValue.Trim().ToUpper() == "0")
                                                        {
                                                            <select id="@item.InputText" data-operation="@item.OperationType" class="@item.InputText form-control ammonia">
                                                                <option selected="selected" value="0">NO</option>
                                                                <option value="1">YES</option>
                                                            </select>
                                                        }
                                                        else
                                                        {
                                                            <select id="@item.InputText" data-operation="@item.OperationType" class="@item.InputText form-control ammonia">
                                                                <option value="0">NO</option>
                                                                <option selected="selected" value="1">YES</option>
                                                            </select>
                                                        }
                                                    }
                                                    else
                                                    {

                                                    }


                                                </div>
                                            </div>



                                        }







                                    </div>


                                </div>

                                <div class="col-sm-2 col-md-4">
                                </div>
                            </div>
                        </div>


                    </div>

                </div>
            }
            @foreach (var head in Ammtransfer)
            {
                var AmmProd = data.Where(e => e.Category == head).ToList();
                int k = 0;
                <div class="content-box">
                    <h3 class="sub-heading1"><span>@head</span></h3>
                    <div class="m-form">
                        <div class="m-form-bx">





                            <div class="row form-sm">






                                @foreach (var item in AmmProd)
                                {


                                    <div class="col-sm-2 col-md-4">
                                        <div>
                                            <label class="m-lbl1 m-lbl2"> @item.InputLabel</label>
                                        </div>
                                    </div>


                                    <div class="col-sm-2 col-md-2">
                                        <div>
                                            @if (item.InputType == "number")
                                            {
                                                if (item.Readonly.ToLower() == "yes")
                                                {
                                                    <input data-operation="@item.OperationType" readonly="readonly" class="form-control text-right ammonia" id="@item.InputText" step="any" type="number" value="@item.InputValue" />
                                                }
                                                else
                                                {
                                                    <input data-operation="@item.OperationType" data-category="@head.Trim()" class="form-control text-right ammonia" id="@item.InputText" step="any" type="number" value="@item.InputValue" />

                                                }
                                            }
                                            else if (item.InputType.ToLower() == "datetime-local")
                                            {
                                                string v = "";
                                                if (!string.IsNullOrEmpty(item.InputValue.Trim()))
                                                {
                                                    v = Convert.ToDateTime(item.InputValue).ToString("yyyy-MM-ddTHH:mm");
                                                }


                                                <input data-operation="@item.OperationType" class="form-control ammonia" id="@item.InputText" step="any" type="datetime-local" value="@v" />
                                            }
                                            else if (item.InputType.ToLower() == "date")
                                            {
                                                string v = "";
                                                if (!string.IsNullOrEmpty(item.InputValue.Trim()))
                                                {
                                                    v = Convert.ToDateTime(item.InputValue).ToString("yyyy-MM-dd");
                                                }


                                                <input data-operation="@item.OperationType" class="form-control ammonia" id="@item.InputText" step="any" type="date" value="@v" />
                                            }
                                            else if (item.InputType.ToLower() == "ddl")
                                            {
                                                string sel = "";
                                                if (item.InputValue.Trim().ToUpper() == "0")
                                                {
                                                    <select id="@item.InputText" data-operation="@item.OperationType" class="form-control ammonia">
                                                        <option selected="selected" value="0">NO</option>
                                                        <option value="1">YES</option>
                                                    </select>
                                                }
                                                else
                                                {
                                                    <select id="@item.InputText" data-operation="@item.OperationType" class="form-control ammonia">
                                                        <option value="0">NO</option>
                                                        <option selected="selected" value="1">YES</option>
                                                    </select>
                                                }
                                            }


                                        </div>
                                    </div>



                                }







                            </div>




                        </div>


                    </div>

                </div>
            }




            @{
                var AmmShut = data.Where(e => e.Category == "SHUTDOWN DETAILS").ToList();

                List<SelectListItem> listItems = ViewBag.reason;
            }
            <div class="content-box">
                <h3 class="sub-heading1"><span>SHUTDOWN DETAILS</span></h3>
                <div class="m-form">
                    <div class="m-form-bx">
                        <div class="row form-sm">
                            <div class="col-sm-2 col-md-3">
                                <div>
                                    <label class="mb-3">Reason</label>
                                </div>
                            </div>
                            <div class="col-sm-2 col-md-3">
                                <div>
                                    <label class="mb-3"> Reason Code</label>
                                </div>
                            </div>
                            <div class="col-sm-2 col-md-3">
                                <div>
                                    <label class="mb-3"> From Date</label>
                                </div>
                            </div>
                            <div class="col-sm-2 col-md-3">
                                <div>
                                    <label class="mb-3"> To Date</label>
                                </div>
                            </div>

                            @{
                                int i = 0;
                                int j = 1;
                            }
                            @foreach (var item in AmmShut)
                            {
                                if (i > 4) { i = 0; j = j + 1; }
                                i = i + 1;
                                string cls = "shut" + j;
                                if (item.InputType != "text")
                                {
                                    <div class="col-sm-2 col-md-3">
                                        <div>
                                            @if (item.InputType == "number")
                                            {
                                                if (item.Readonly.ToLower() == "yes")
                                                {
                                                    <input readonly="readonly" data-operation="@item.OperationType" data-input-text="@item.InputLabel" class="@cls form-control text-right shutdown" id="@item.InputText" step="any" type="number" value="@item.InputValue.Trim()" />
                                                }
                                                else
                                                {
                                                    <input data-operation="@item.OperationType" data-input-text="@item.InputLabel" class="@cls form-control text-right shutdown" id="@item.InputText" step="any" type="number" value="@item.InputValue.Trim()" />
                                                }
                                            }
                                            else if (item.InputType == "date")
                                            {
                                                string v = "";
                                                if (!string.IsNullOrEmpty(item.InputValue.Trim()))
                                                {
                                                    v = Convert.ToDateTime(item.InputValue).ToString("yyyy-MM-dd");
                                                }


                                                <input data-operation="@item.OperationType" data-input-text="@item.InputLabel" class="@cls form-control shutdown" id="@item.InputText" step="any" type="date" value="@v" />
                                            }
                                            else if (item.InputType == "datetime-local")
                                            {
                                                string v = "";
                                                if (!string.IsNullOrEmpty(item.InputValue.Trim()))
                                                {
                                                    v = Convert.ToDateTime(item.InputValue).ToString("yyyy-MM-ddTHH:mm");
                                                }


                                                <input data-operation="@item.OperationType" data-input-text="@item.InputLabel" class="@cls form-control shutdown" id="@item.InputText" step="any" type="datetime-local" value="@v" />
                                            }
                                            else
                                            {
                                                <select id="@item.InputText" data-input-text="@item.InputLabel" class="@cls form-control shutdown ddlReason">
                                                    <option value="">---Choose Reason---</option>
                                                    @foreach (var reason in listItems)
                                                    {

                                                        @if (reason.Text.Trim() == item.InputValue.Trim())
                                                        {
                                                            <option selected="selected" value="@reason.Value">@reason.Text</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@reason.Value">@reason.Text</option>
                                                        }


                                                    }
                                                </select>
                                            }



                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="col-sm-2 col-md-12">
                                        <textarea data-operation="@item.OperationType" id="@item.InputText" data-input-text="@item.InputLabel" placeholder="Technical Remarks" class="@cls form-control techRemark">@item.InputValue.Trim()</textarea>
                                    </div>
                                }


                            }







                        </div>
                    </div>
                </div>


            </div>

        </div>


    </form>

</div>
<div id="commonModalbinder" class="modal" style="display:none!important;z-index:99999999 !important;"></div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
