@model IFFCO.TECHPROD.Web.Models.LoginViewModel
@{
    ViewData["Title"] = "Login";
}
<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="~/images/iffco-favicon.png" type="image/png">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>IFFCO | Technical Reporting</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/css/login.css" rel="stylesheet" />
    <link href="@Url.Content("~/lib/bootstrap/dist/css/bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/css/font-awesome.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/css/style.css")" rel="stylesheet" />
    <link href="@Url.Content("~/css/responsive.css")" rel="stylesheet" />
    <link href="@Url.Content("~/css/css.css")" rel="stylesheet" />

    <script src="@Url.Content("~/js/jquery-3.3.1.min.js")"></script>
    <script src="@Url.Content("~/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/js/custom.js")"></script>
    <script src="@Url.Content("~/js/custom-select.js")"></script>
    <script src="@Url.Content("~/js/Common.js")"></script>
    <script src="@Url.Content("~/js/TechnicalReporting.js")"></script>
    <script src="~/js/bootstrap-datepicker.min.js"></script>
    <link href="~/css/bootstrap-datepicker3.css" rel="stylesheet" />
    <style>

        /*.modalLoader {
            display: none;
            position: fixed;
            z-index: 9999999;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: rgba( 255, 255, 255, .8 ) url('images/tenor.gif') 50% 50% no-repeat;
        }

        body.loading {
            overflow: hidden;
        }*/

        /*.modalLoader {
            display: none;
        }*/



    </style>
</head>
<body class="login_page">
    <form asp-controller="Account" asp-action="Login" id="login_form" onsubmit="return ValidateLogin();" method="post">
        <div class="login_area">
            <div class="login_header">
                <img src="@Url.Content("~/images/logo.jpg")" style="border:solid; border-color:white" alt="" />
            </div>
            <div class="login_area_under">
                <div class="form-group">
                    <input type="text" class="form-control" required name="PersonalNo" id="PersonalNo" placeholder="Personal No.">
                </div>
                <div class="form-group">
                    <input type="password" id="Password" name="Password" required class="form-control" placeholder="Password">
                </div>
                <div class="form-group">
                    <select class="form-control" required name="Module" id="ddlModules" onchange="Validate();"></select>
                    <input type="hidden" name="ModuleId" id="ModuleHidden" />
                </div>
                <div class="row btn_bottom">
                    <div class="col-6">
                        <input type="submit" name="submit" value="Login" class="btn_login green">
                    </div>
                    <div class="col-6">
                        <input type="button" name="button" value="Reset" class="btn_login">
                    </div>
                </div>
            </div>
        </div>
    </form>
    @if (ViewBag.Message != "")
    {
        <div id="commonModalbinder" class="modal" style="display:block!important">

            <div class="modal-dialog">
                <div class="modal-content" style="MARGIN-TOP: 71PX">

                    <div class="modal-header" style="background-color: #e24c4b;">
                        <h4 class="modal-title" style="font-weight:bold;">Error</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="PopupCancel();">×</button>
                    </div>
                    <div class="modal-body">
                        <p style="font-weight:bold;color: red;text-align: center;"><mediam>@ViewBag.Message!</mediam></p>

                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-primary m-btn" onclick="PopupCancel();" data-dismiss="modal" value="OK">


                    </div>

                </div>

            </div>

        </div>
    }
    <div id="commonModalbinder" class="modal" style="display:none!important;z-index:99999999 !important;"></div>


    @*<div class="modalLoader"></div>*@
    <div class="loader-mn modalLoader">
        <div class="loader"></div>
        <div class="txtt">Loading....</div>
    </div>

   
    <script>

        $(document).ready(function () {
            createCookie("U", window.location.href, 10);
        })


        //function GetModules() {
        $("#PersonalNo").change(function () {
            CommonAjax("/Account/GetMouldeResultForAccount?PersonalNo=" + $("#PersonalNo").val(), "GET", false, "application/json", false, BindDdlModule, "#ModuleHidden");
        })

        //}ddlModules
        $("#login").click(function () {
            var DropDownValue = $("#ddlModules").val();
            if (DropDownValue == 0) {
                $('#ddlModules').css('border-color', 'red');
                return false;
            }
            else {
                $('#ddlModules').css('border-color', '');
            }
        });

        $("#ddlModules").change(function () {
            $("#ModuleHidden").val(this.value);
        })
        //$('#login_form').submit(function () {
        //    ;
        //    $(".modalLoader").show();
        //});
        function BindDdlModule(data, id) {
            var strHtml = "<option value='0'>Select Modules</option>"
            $.each(data, function (index, Module) {
                strHtml += "<option value=" + Module.value + ">" + Module.text + "</option>"
            })
            $("#ddlModules").html(strHtml);
        }

        function ForgotPassword() {
            if ($("#PersonalNo").val() != "") {
                var strHtml = "";
                strHtml += "<div id='ForgotPassword' class='modal' style='display:block'>";
                strHtml += "<div class='modal-dialog'>";
                strHtml += "<div class='modal-content' style='MARGIN-TOP: 71PX'>";
                strHtml += "<div class='modal-header' style='background-color: #007c39'>";
                strHtml += "<h4 class='modal-title' style='font-weight:bold;color: white'>Reset Password Via OTP</h4>";
                strHtml += "<button type='button' class='close' data-dismiss='modal' aria-hidden='true' onclick='PopupCancel();'>×</button>";
                strHtml += "</div>";
                strHtml += "<div class='modal-body'>";
                strHtml += '<div class="login_area_under">';
                //strHtml += '<div class="form-group">';
                //strHtml += '<input type="text" class="form-control" required="" name="PersonalNo" id="PersonalNo" placeholder="Personal No.">';
                //strHtml += '</div>';

                strHtml += '<div class="form-group" >';
                strHtml += 'Personal No. <span>' + $("#PersonalNo").val() + '</span>';
                strHtml += '</div>';
                strHtml += '<div class="form-group" id="forgotdobDiv">';
                //strHtml += '<input type="text" id="forgotdob" onchange="return forgotdob();" name="forgotdob" style="margin-bottom:50px;" required class="form-control" placeholder="Date of Birth">';
                strHtml += '<input type="text" id="forgotdob"  name="forgotdob1" style="margin-bottom:50px;" required class="form-control" placeholder="Date of Birth">';
                strHtml += '</div>';

                strHtml += '<div class="form-group">';
                strHtml += '<input type="text" id="forgototp" name="forgototp" required class="form-control" placeholder="OTP">';
                strHtml += '</div>';

                strHtml += '<div class="form-group">';
                strHtml += '<input type="button" id="resendOtp"  class="btn_login DisplayNone" onclick="return forgotdob();" data-dismiss="modal" value="Re-Send OTP">';
                strHtml += '</div>';

                strHtml += '<div class="form-group">';
                strHtml += '<input type="password" id="NewPassword" name="Password"  class="form-control" placeholder="New Password">';
                strHtml += '</div>';

                strHtml += '<div class="form-group">';
                strHtml += '<input type="password" id="CnfirmPassword" name="Password"  class="form-control" placeholder="Confirm Password">';
                strHtml += '</div>';

                strHtml += '<div class="row btn_bottom">';
                strHtml += '<div class="col-6">';
                strHtml += '<input type="button" onclick="SetNewPass()" name="submit" value="Update Password" class="btn_login green">';
                strHtml += '</div>';
                strHtml += '<div class="col-6">';
                strHtml += "<input type='button' class='btn_login' onclick='PopupCancel();' data-dismiss='modal' value='Reset'>";
                strHtml += '</div>';
                strHtml += '</div>';
                strHtml += '</div>';
                strHtml += "<p style='font-weight:bold; text-align:center;color:red;'><mediam id='successmsg'></mediam></p>";
                strHtml += "</div>";
                strHtml += "</div></div></div>";

                $("#commonModalbinder").append(strHtml)
                $("#commonModalbinder").css("display", "block");
                BootStrapCalender("#forgotdob");
            } else {
                WarningAlert("Alert", "Please enter the employee ID before changing the password", null, null, "warning");
            }
        }

        function ChangePassword() {
            if ($("#PersonalNo").val() != "") {
                var strHtml = "";
                strHtml += "<div id='ChangePassword' class='modal' style='display:block'>";
                strHtml += "<div class='modal-dialog'>";
                strHtml += "<div class='modal-content' style='MARGIN-TOP: 71PX'>";
                strHtml += "<div class='modal-header' style='background-color: #007c39'>";
                strHtml += "<h4 class='modal-title' style='font-weight:bold;color: white'>Reset Password Via OTP</h4>";
                strHtml += "<button type='button' class='close' data-dismiss='modal' aria-hidden='true' onclick='PopupCancel();'>×</button>";
                strHtml += "</div>";
                strHtml += "<div class='modal-body'>";
                strHtml += '<div class="login_area_under">';

                strHtml += '<div class="form-group">';
                strHtml += '<input type="password" id="OldPassword" required name="Password"  class="form-control" placeholder="Old Password">';
                strHtml += '<span class="text-danger" id="msgOldpassword"></span>';
                strHtml += '</div>';

                strHtml += '<div class="form-group">';
                strHtml += '<input type="password" required id="NewPassword" name="Password"  class="form-control" placeholder="New Password">';
                strHtml += '<span class="text-danger" id="msgNewpassword"></span>';
                strHtml += '</div>';

                strHtml += '<div class="form-group">';
                strHtml += '<input type="password" id="CnfirmPassword" name="Password"  class="form-control" placeholder="Confirm Password">';
                strHtml += '<span class="text-danger" id="msgCnfirmPassword"></span>';
                strHtml += '</div>';

                strHtml += '<div class="row btn_bottom">';
                strHtml += '<div class="col-6">';
                strHtml += '<input type="button" id="changepasswordId" name="submit" value="Update Password" class="btn_login green">';
                strHtml += '</div>';
                strHtml += '<div class="col-6">';
                strHtml += "<input type='button' class='btn_login' onclick='PopupCancel();' data-dismiss='modal' value='Reset'>";
                strHtml += '</div>';
                strHtml += '</div>';
                strHtml += '</div>';
                //strHtml += "<p style='font-weight:bold; text-align:center'><mediam>" + Message + "</mediam></p>";
                strHtml += "</div>";
                strHtml += "</div></div></div>";
                $("#commonModalbinder").append(strHtml)
                $("#commonModalbinder").css("display", "block");
            } else {
                WarningAlert("Alert", "Please enter the employee ID before changing the password", null, null, "warning");
            }
        }

        // $("#changepasswordId").click(function () {
        $(document).on('click', '#changepasswordId', function () {
            var reponseData = {
                PersonalNo: $("#PersonalNo").val().trim(),
                Password: $("#NewPassword").val(),
                OldPassword: $("#OldPassword").val(),
            }

            CommonAjax('/Account/ChangePassword', "POST", false, "application/json", false, SuccessChangePassword, null, JSON.stringify(reponseData));
        });

        function forgotdob() {
            ;
            CommonAjax("/Account/CallOTP?Dob=" + Dateformate($("#forgotdob").val()) + "&PersonalNo=" + $("#PersonalNo").val(), "GET", false, "application/json", false, Postforgotdob);
            return false;
        }

        $(document).on('changeDate', '#forgotdob', function (ev) {
            CommonAjax("/Account/CallOTP?Dob=" + Dateformate($("#forgotdob").val()) + "&PersonalNo=" + $("#PersonalNo").val(), "GET", false, "application/json", false, Postforgotdob);
        });

        function Postforgotdob(response) {


            if (response.status != 0) {
                CommonAlert(response.alert, response.message, null, null, "error");
                return false;
            } else {
                $("#successmsg").text(response.message);
            }
        }
        function OTP(thisval) {
            CommonAjax("/Account/ValidateOTP?otp=" + $("#forgototp").val() + "&PersonalNo=" + $("#PersonalNo").val(), "GET", false, "application/json", false, PostOtp);
        }
        function PostOtp(response) {
            if (response.status != 0) {
                CommonAlert(response.alert, response.errorMessage, null, null, "error");
            } else {
                $("#resendOtp").css("display", "block");
            }
        }
        function ValidatePasswd() {
            CommonAjax("/Account/ValidatePasswd?password=" + $("#NewPassword").val(), "GET", false, "application/json", false, PostValidatePasswd);
        }
        function PostValidatePasswd(response) {
            if (response.status != 0) {
                CommonAlert(response.alert, response.errorMessage, null, null, "error");
            }
        }
        function SuccessChangePassword(reponse) {
            if (reponse.status == "0") {
                CommonAlert("Success", reponse.message, null, null, "success");
                $("#Password").val(reponse.password);
                $("#PersonalNo").val(reponse.personalNo);
            } else {
                CommonAlert("Alert", reponse.ErrorMessage, null, null, "warning");
            }
        }
        function SetNewPass() {
            CommonAjax("/Account/SetNewPass?PersonalNo=" + $("#PersonalNo").val() + "&Password=" + $("#NewPassword").val() + "&Otp=" + $("#forgototp").val(), "GET", false, "application/json", false, PostSetNewPass);
        }
        function PostSetNewPass(response) {
            if (response.status != 0) {
                CommonAlert(response.alert, response.ErrorMessage, null, null, "error");
            } else {
                CommonAlert("Success", reponse.message, null, null, "success");
                $("#Password").val(reponse.password);
                $("#PersonalNo").val(reponse.personalNo);
            }
        }

        $(document).on('change', '#NewPassword', function () {
            if ($(this).val().trim().length > 10) {
                $("#msgNewpassword").text("Password should be less than 10 digit!");
            } else
                if ($(this).val().trim() == $("#OldPassword").val().trim()) {
                    $("#msgNewpassword").text("Old and New password should not be same");
                    return false;
                } else {
                    $("#msgNewpassword").text("");
                    return true;
                }
        });
        $(document).on('change', '#CnfirmPassword', function () {
            if ($(this).val().trim() != $("#NewPassword").val().trim()) {
                $("#msgCnfirmPassword").text("New Password and Confirm Password do not match");
                return false;
            } else {
                $("#msgCnfirmPassword").text("");
                return true;
            }
        });

    </script>

    <script type="text/javascript">


        function Validate() {
            var ddlFruits = $("#ddlModules").val();

            if (ddlFruits == 0) {

                $('#ddlModules').css('border-color', 'red');
                return false;
            }
            else {
                $('#ddlModules').css('border-color', '');
            }
        }
        function ValidateLogin() {
            $(".modalLoader").show();
            if ($("#ddlModules").val() == "0") {
                CommonAlert("Alert", "Please select module", null, null, "warning");
                return false;
            } else {
                return true;
            }
        }
    </script>


</body>

</html>

