@{
    List<CommonData> data = ViewBag.records;

    var Arrheader = data.Where(e => e.Layout == "TYPE-3" && e.Category != "SHUTDOWN DETAILS").Select(e => e.Category).Distinct().ToArray();
    var Chemical = data.Where(e => e.Layout == "TYPE-2" && e.Category != "SHUTDOWN DETAILS").Select(e => e.Category).Distinct().ToArray();
    var Ammtransfer = data.Where(e => e.Layout == "TYPE-1" && e.Category != "SHUTDOWN DETAILS").Select(e => e.Category).Distinct().ToArray();

}







@foreach (var head in Ammtransfer)
{
    var AmmProd = data.Where(e => e.Category == head).ToList();
    int k = 0;
    <div class="content-box">
        <h3 class="sub-heading1"><span>@head</span></h3>
        <div class="m-form">
            <div class="m-form-bx">





                <div class="row form-sm">






                    @foreach (var item in AmmProd)
                    {


                        <div class="col-sm-2 col-md-4">
                            <div>
                                <label class="m-lbl1 m-lbl2"> @item.InputLabel</label>
                            </div>
                        </div>


                        <div class="col-sm-2 col-md-2">
                            <div>
                                @if (item.InputType == "number")
                                {
                                    if (item.Readonly.ToLower() == "yes")
                                    {
                                        <input data-operation="@item.OperationType" readonly="readonly" class="form-control text-right ammonia" id="@item.InputText" step="any" type="number" value="@item.InputValue" />
                                    }
                                    else
                                    {
                                        <input data-operation="@item.OperationType" data-category="@head.Trim()" class="form-control text-right ammonia" id="@item.InputText" step="any" type="number" value="@item.InputValue" />

                                    }
                                }
                                else if (item.InputType.ToLower() == "datetime-local")
                                {
                                    string v = "";
                                    if (!string.IsNullOrEmpty(item.InputValue.Trim()))
                                    {
                                        v = Convert.ToDateTime(item.InputValue).ToString("yyyy-MM-ddTHH:mm");
                                    }


                                    <input data-operation="@item.OperationType" class="form-control ammonia" id="@item.InputText" step="any" type="datetime-local" value="@v" />
                                }
                                else if (item.InputType.ToLower() == "date")
                                {
                                    string v = "";
                                    if (!string.IsNullOrEmpty(item.InputValue.Trim()))
                                    {
                                        v = Convert.ToDateTime(item.InputValue).ToString("yyyy-MM-dd");
                                    }


                                    <input data-operation="@item.OperationType" class="form-control ammonia" id="@item.InputText" step="any" type="date" value="@v" />
                                }
                                else if (item.InputType.ToLower() == "ddl")
                                {
                                    string sel = "";
                                    if (item.InputValue.Trim().ToUpper() == "0")
                                    {
                                        <select id="@item.InputText" data-operation="@item.OperationType" class="form-control ammonia">
                                            <option selected="selected" value="0">NO</option>
                                            <option value="1">YES</option>
                                        </select>
                                    }
                                    else
                                    {
                                        <select id="@item.InputText" data-operation="@item.OperationType" class="form-control ammonia">
                                            <option value="0">NO</option>
                                            <option selected="selected" value="1">YES</option>
                                        </select>
                                    }
                                }


                            </div>
                        </div>



                    }







                </div>




            </div>


        </div>

    </div>
}

@foreach (var head in Arrheader)
{
    var AmmProd = data.Where(e => e.Category == head).ToList();
    int k = 0;
    <div class="content-box">
        <h3 class="sub-heading1"><span>@head</span></h3>
        <div class="m-form">
            <div class="m-form-bx">


                <div class="row form-sm">

                    <div class="col-sm-2 col-md-8">


                        <div class="row form-sm ">

                            <div class="col-sm-2 col-md-6">
                            </div>
                            <div class="col-sm-2 col-md-2">
                                <div>
                                    <label class="m-lbl1 m-lbl2" style="font-size:90%;color:crimson !important;margin-bottom:10px;"> UNIT-11</label>
                                </div>
                            </div>
                            <div class="col-sm-2 col-md-2">
                                <div>
                                    <label class="m-lbl1 m-lbl2" style="font-size:90%;color:crimson !important;margin-bottom:10px;"> UNIT-21</label>
                                </div>
                            </div>
                            <div class="col-sm-2 col-md-2">
                                <div>
                                    <label class="m-lbl1 m-lbl2" style="font-size:90%;color:crimson !important;margin-bottom:10px;"> TOTAL</label>
                                </div>
                            </div>


                            @foreach (var item in AmmProd)
                            {

                                if (k == 0)
                                {
                                    k = k + 1;
                                    <div class="col-sm-2 col-md-6">
                                        <div>
                                            <label class="m-lbl1 m-lbl2"> @item.InputLabel</label>
                                        </div>
                                    </div>
                                }
                                else if (k > 1)
                                {
                                    k = 0;
                                }
                                else
                                {
                                    k = k + 1;
                                }

                                <div class="col-sm-2 col-md-2">
                                    <div>
                                        @if (item.InputType == "number")
                                        {
                                            if (item.Readonly.ToLower() == "yes")
                                            {
                                                <input data-operation="@item.OperationType" readonly="readonly" class="@item.InputText form-control text-right ammonia" id="@item.InputText" step="any" type="number" value="@item.InputValue" />
                                            }
                                            else
                                            {
                                                <input data-operation="@item.OperationType" class="@item.InputText form-control text-right ammonia" id="@item.InputText" step="any" type="number" value="@item.InputValue" />

                                            }
                                        }
                                        else if (item.InputType.ToLower() == "datetime-local")
                                        {
                                            string v = "";
                                            if (!string.IsNullOrEmpty(item.InputValue.Trim()))
                                            {
                                                v = Convert.ToDateTime(item.InputValue).ToString("yyyy-MM-ddTHH:mm");
                                            }


                                            <input data-operation="@item.OperationType" class="@item.InputText form-control ammonia" id="@item.InputText" step="any" type="datetime-local" value="@v" />
                                        }
                                        else if (item.InputType.ToLower() == "date")
                                        {
                                            string v = "";
                                            if (!string.IsNullOrEmpty(item.InputValue.Trim()))
                                            {
                                                v = Convert.ToDateTime(item.InputValue).ToString("yyyy-MM-dd");
                                            }


                                            <input data-operation="@item.OperationType" class="@item.InputText form-control ammonia" id="@item.InputText" step="any" type="date" value="@v" />
                                        }
                                        else if (item.InputType.ToLower() == "ddl")
                                        {
                                            string sel = "";
                                            if (item.InputValue.Trim().ToUpper() == "0")
                                            {
                                                <select id="@item.InputText" data-operation="@item.OperationType" class="@item.InputText form-control ammonia">
                                                    <option selected="selected" value="0">NO</option>
                                                    <option value="1">YES</option>
                                                </select>
                                            }
                                            else
                                            {
                                                <select id="@item.InputText" data-operation="@item.OperationType" class="@item.InputText form-control ammonia">
                                                    <option value="0">NO</option>
                                                    <option selected="selected" value="1">YES</option>
                                                </select>
                                            }
                                        }
                                        else
                                        {

                                        }


                                    </div>
                                </div>



                            }







                        </div>


                    </div>

                    <div class="col-sm-2 col-md-4">
                    </div>
                </div>
            </div>


        </div>

    </div>
}

@foreach (var head in Chemical)
{
    var v = head;
    var AmmProd = data.Where(e => e.Category == head).ToList();
    int k = 0;
    <div class="content-box">
        <h3 class="sub-heading1"><span>@head</span></h3>
        <div class="m-form">
            <div class="m-form-bx">


                <div class="row form-sm">

                    <div class="col-sm-2 col-md-8">


                        <div class="row form-sm ">

                            <div class="col-sm-2 col-md-6">
                            </div>
                            <div class="col-sm-2 col-md-2">
                                <div>
                                    <label class="m-lbl1 m-lbl2" style="font-size:90%;color:crimson !important;margin-bottom:10px;">MONTH</label>
                                </div>
                            </div>
                            <div class="col-sm-2 col-md-2">
                                <div>
                                    <label class="m-lbl1 m-lbl2" style="font-size:90%;color:crimson !important;margin-bottom:10px;">CUMMULATIVE</label>
                                </div>
                            </div>
                            <div class="col-sm-2 col-md-2">

                            </div>


                            @foreach (var item in AmmProd)
                            {

                                if (k == 0)
                                {
                                    k = k + 1;
                                    <div class="col-sm-2 col-md-6">
                                        <div>
                                            <label class="m-lbl1 m-lbl2"> @item.InputLabel</label>
                                        </div>
                                    </div>
                                }
                                else if (k > 0)
                                {
                                    k = 0;
                                }
                                else
                                {
                                    k = k + 1;
                                }

                                <div class="col-sm-2 col-md-2">
                                    <div>
                                        @if (item.InputType == "number")
                                        {
                                            if (item.Readonly.ToLower() == "yes")
                                            {
                                                <input data-operation="@item.OperationType" readonly="readonly" class="@item.InputText form-control text-right ammonia" id="@item.InputText" step="any" type="number" value="@item.InputValue" />
                                            }
                                            else
                                            {
                                                <input data-operation="@item.OperationType" class="@item.InputText form-control text-right ammonia" id="@item.InputText" step="any" type="number" value="@item.InputValue" />

                                            }
                                        }
                                        else if (item.InputType.ToLower() == "datetime-local")
                                        {

                                            if (!string.IsNullOrEmpty(item.InputValue.Trim()))
                                            {
                                                v = Convert.ToDateTime(item.InputValue).ToString("yyyy-MM-ddTHH:mm");
                                            }


                                            <input data-operation="@item.OperationType" class="@item.InputText form-control ammonia" id="@item.InputText" step="any" type="datetime-local" value="@v" />
                                        }
                                        else if (item.InputType.ToLower() == "date")
                                        {

                                            if (!string.IsNullOrEmpty(item.InputValue.Trim()))
                                            {
                                                v = Convert.ToDateTime(item.InputValue).ToString("yyyy-MM-dd");
                                            }


                                            <input data-operation="@item.OperationType" class="@item.InputText form-control ammonia" id="@item.InputText" step="any" type="date" value="@v" />
                                        }
                                        else if (item.InputType.ToLower() == "ddl")
                                        {
                                            string sel = "";
                                            if (item.InputValue.Trim().ToUpper() == "0")
                                            {
                                                <select id="@item.InputText" data-operation="@item.OperationType" class="@item.InputText form-control ammonia">
                                                    <option selected="selected" value="0">NO</option>
                                                    <option value="1">YES</option>
                                                </select>
                                            }
                                            else
                                            {
                                                <select id="@item.InputText" data-operation="@item.OperationType" class="@item.InputText form-control ammonia">
                                                    <option value="0">NO</option>
                                                    <option selected="selected" value="1">YES</option>
                                                </select>
                                            }
                                        }
                                        else
                                        {

                                        }


                                    </div>
                                </div>



                            }







                        </div>


                    </div>

                    <div class="col-sm-2 col-md-4">
                    </div>
                </div>
            </div>


        </div>

    </div>
}

