

<script src="~/js/Common.js"></script>
<script src="~/js/TechnicalReporting.js"></script>
@{
    var rights = ViewBag.rights;
}
<script>
       $(document).ready(function () {
        debugger;
        var r='@rights';
         if (r == "N") {
             $("input:not(.non),textarea").addClass("disable");
             $('input[type="button"]:not(.non)').addClass("btn-disable");
             $('select').addClass("sel-disable");
             $('.disable').prop("readonly", true);
             $('.btn-disable').hide();
             $('.sel-disable').prop('disabled', true);
         }
         else {
             $('.disable').prop("readonly", false);
             $('.btn-disable').show();
             $('.sel-disable').prop('disabled', false);
             $("input:not(.non),textarea").removeClass("disable");
             $('input[type="button"]:not(.non)').removeClass("btn-disable");
             $('select').removeClass("sel-disable");

         }
                    })
    var g_target_id;
    $(".ctrlbtn").click(function (e) {

        $(".modalLoader").css("display", "block");
        var op = $(this).data("type");

        setTimeout(function () {
            CommonAjax('/M1/SPTARGET/Execute', "GET", false, "application/json", false, GetResponse, "",
                {

                    FromDate: $("#txtFromDate").val(),
                    ToDate: $("#txtToDate").val(),
                    Shift: $("#txtShift").val(),
                    OperationType: op

                });
            $(".modalLoader").hide();
        }, 10)


    })


    function PostResponse(data) {
        debugger;
        if (data.errorMessage != "" && data.errorMessage != null) {
            CommonAlert(data.alert, data.errorMessage, null, null, "error");
            return;
        }

        if (data.alert != "") {

            $(g_target_id).notify(
                data.alert,
                { position: "top", className: "success" }
            );
        }

    }
    $(document).on("change", ".ammonia", function (e) {
        debugger;
        var name = $(this).attr("id");
        var val = $(this).val();
        var op = $(this).data("operation");
        var type = $(this).attr("type");
        g_target_id = "#" + name;


        if (!parseFloat(val) > 0 && $(g_target_id).attr("type")=="number") {
            $(g_target_id).notify(
                "Value must be greater than zero",
                { position: "top", className: "error" }
            );
            return;
        }
        $(".modalLoader").css("display", "block");

        setTimeout(function () {
            CommonAjax('/M1/SPTARGET/PostData', "GET", false, "application/json", false, PostResponse, "",
                {
                    Input_Name: name,
                    Input_Value: val,
                    OperationType: op,
                    FromDate: $("#txtFromDate").val(),
                    ToDate: $("#txtToDate").val(),
                    Shift: $("#txtShift").val(),
                    InputType: type,


                });
            $(".modalLoader").hide();
        }, 10)


    })




    function GetResponse(data) {
        if (data.errorMessage != "" && data.errorMessage != null) {
            CommonAlert(data.errorMessage, data.errorMessage, null, null, "error");
            return;
        }
        else if (data.alert != "" && data.alert != null) {
            CommonAlert("SUCCESS", data.alert, null, null, "success");
            return;
        }
        $("#mainDiv").empty().append(data);

    }

</script>

<div class="plcholder-cn">
    <form id="Main" asp-action="Edit" method="post" asp-area="M1">
        @{
            List<CommonData> data = ViewBag.records;

            var Arrheader = data.Select(e => e.Category).Distinct().ToArray();
            
        }
        <div class="content-box">
            <h3 class="sub-heading1"><span style="background-color:#4A689A !important;color:white;font-weight:bold">TARGET MASTER </span></h3>
            <div class="m-form">
                <div class="m-form-bx">
                    <div class="row form-sm">
                        <div class="col-sm-2 col-md-2">
                        </div>
                        <div class="col-sm-2 col-md-1">
                            <div>
                                <label class="m-lbl1 m-lbl2">From Date</label>
                            </div>
                        </div>
                        <div class="col-sm-2 col-md-2">
                            <div>
                                @{
                                    DateTime dt;
                                    dt = new DateTime(2014, 02, 01);
                                }
                                <input class="form-control" value="@dt.ToString("yyyy-MM-dd")" id="txtFromDate" type="date" />
                            </div>
                        </div>
                        <div class="col-sm-2 col-md-1">
                            <div>
                                <label class="m-lbl1 m-lbl2">To Date</label>
                            </div>
                        </div>
                        <div class="col-sm-2 col-md-2">
                            <div>
                                @{
                                    DateTime dt1;
                                    dt1 = new DateTime(2014, 02, 28);
                                }
                                <input class="form-control" value="@dt1.ToString("yyyy-MM-dd")" id="txtToDate" type="date" />
                            </div>
                        </div>
                        <div class="col-sm-2 col-md-1">
                            <div>
                                <label class="m-lbl1 m-lbl2"> Shift</label>
                            </div>
                        </div>
                        <div class="col-sm-2 col-md-2">
                            <div>
                                <input class="form-control" id="txtShift" type="text" value="G" />
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                        </div>
                    </div>
                </div>

                <div class="row form-sm">

                    <div class="col-sm-6 col-md-12 text-center">
                        <div>
                            <hr style="margin-bottom:6px;margin-top:0" />
                            <input type="button" data-type="query" id="Ewb" class="m-btn-1 save ctrlbtn" value="Query" />
                            <input type="button" data-type="save" id="PrintGSTInvoice" class="m-btn-1 execute ctrlbtn" value="Save" />
                            <input type="button" data-type="approve" id="" class="m-btn-1 update ctrlbtn" value="Approve" />

                            <div style="margin-bottom:6px;margin-top:0" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="mainDiv">
            @foreach (var head in Arrheader)
            {
                var AmmProd = data.Where(e => e.Category == head).ToList();
                int i = 0;
                <div class="content-box">
                    <h3 class="sub-heading1"><span>@head</span></h3>
                    <div class="m-form">
                        <div class="m-form-bx">
                            <div class="row form-sm">



                                @foreach (var item in AmmProd)
                                {


                                    <div class="col-sm-2 col-md-4">
                                        <div>
                                            <label class="m-lbl1 m-lbl2"> @item.InputLabel</label>
                                        </div>
                                    </div>

                                    @if (item.InputType.ToLower() != "label")
                                    {
                                        <div class="col-sm-2 col-md-2">
                                            <div>
                                                @if (item.InputType.ToLower() == "number")
                                                {
                                                    if (item.Readonly.ToLower() == "yes")
                                                    {
                                                        <input data-operation="@item.OperationType" readonly="readonly" class="form-control text-right ammonia" id="@item.InputText" step="any" type="number" value="@item.InputValue" />
                                                    }
                                                    else
                                                    {
                                                        <input data-operation="@item.OperationType" class="form-control text-right ammonia" id="@item.InputText" step="any" type="number" value="@item.InputValue" />

                                                    }
                                                }
                                                else if (item.InputType.ToLower() == "datetime-local")
                                                {
                                                    string v = "";
                                                    if (!string.IsNullOrEmpty(item.InputValue.Trim()))
                                                    {
                                                        v = Convert.ToDateTime(item.InputValue).ToString("yyyy-MM-ddTHH:mm");
                                                    }


                                                    <input data-operation="@item.OperationType" class="form-control ammonia" id="@item.InputText" step="any" type="datetime-local" value="@v" />
                                                }
                                                else if (item.InputType.ToLower() == "date")
                                                {
                                                    string v = "";
                                                    if (!string.IsNullOrEmpty(item.InputValue.Trim()))
                                                    {
                                                        v = Convert.ToDateTime(item.InputValue).ToString("yyyy-MM-dd");
                                                    }


                                                    <input data-operation="@item.OperationType" class="form-control ammonia" id="@item.InputText" step="any" type="date" value="@v" />
                                                }
                                                else
                                                {
                                                    string sel = "";
                                                    if (item.InputValue.Trim().ToUpper() == "0")
                                                    {
                                                        <select id="@item.InputText" data-operation="@item.OperationType" class="form-control ammonia">
                                                            <option selected="selected" value="0">NO</option>
                                                            <option value="1">YES</option>
                                                        </select>
                                                    }
                                                    else
                                                    {
                                                        <select id="@item.InputText" data-operation="@item.OperationType" class="form-control ammonia">
                                                            <option value="0">NO</option>
                                                            <option selected="selected" value="1">YES</option>
                                                        </select>
                                                    }
                                                }


                                            </div>
                                        </div>

                                    }
                                    else
                                    {
                                        <div class="col-sm-2 col-md-12">

                                            <label class="m-lbl1" style="font-size:110%;color:crimson !important;margin-bottom:10px;">@item.SubLabel.ToUpper()</label>
                                            <hr style="margin-bottom:10px;margin-top:0px" />
                                        </div>
                                    }

                                }

                            </div>





                        </div>


                    </div>


                </div>

            }
      

        </div>
    </form>

</div>
<div id="commonModalbinder" class="modal" style="display:none!important;z-index:99999999 !important;"></div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
